= render layout: 'layout', locals: {title: "Follow Notification"} do
  Hello #{@follower.email}
  %br/
  You are successfully following RoR Blog.
  %br/
  We will send you all new updates about this Blog.
  %br
  %br
  %br
  Thank you for following RoR Magick Blog
  
