= render layout: 'layout', locals: {title: "UnFollow Notification"} do
  Hello #{@follower.email}
  %br/
  You are successfully unfollowed RoR Blog.
  %br/
  you will not receive any updates about this Blog.
  %br
  %br
  %br
  Thank you for using RoR Magick Blog
  
