= render 'list', posts: @posts

= link_to "new", new_admin_post_path, class: 'btn btn-primary' if current_admin_user

:javascript
  if(window.opener) {
    window.opener.location.reload(true);
    window.close()
  }
